.graph_container{
    width: 900px;
    height: 900px;
    text-align: center;
}

#graph{
    background-color: bisque;
}

.radial-stroke {
    stroke: gray;
    stroke-dasharray: 4px;
    stroke-width: 1px;
    opacity: 0.5;
}

.axis-outer {
    stroke: rgb(82, 79, 79);
    stroke-width: 2px;
}

.axis-inner {
    stroke: rgb(82, 79, 79);
    stroke-width: 1.5px;
}

.link {
    stroke-opacity: 0.5;
    stroke-width: 1px;
    stroke-linecap: round;
    transition: all 0.3s ease;
}

.link-d {
    stroke-width: 2px;
    /* transition: all 0.3s ease; */
    stroke-linecap: round;

}